<h1>Address to Weather</h1>

<p>The current temperature at <%=@street_address%> is <%=@the_temperature%></p>

<p>The outlook for the next 60 minutes is: <%=@the_hour_outlook%></p>

<p>The outlook for the next 24 hours is: <%=@the_day_outlook%></p>
