<h2><%= "The current temperature at #{@address} is #{@the_temperature}" %></h2>
<h3><%= "The outlook for the next 60 minutes is #{@the_hour_outlook}" %></h3>
<h3><%= "The outlook for the next 24 hours is #{@the_day_outlook}" %></h3>
<h3><%= "The outlook for the rest of the week is #{@the_week_outlook}" %></h3>
